@import "bootstrap";

body {
  font-size: 16pt;
}

.wild-header {
  margin-bottom: 1em;
  padding: 2em 0;
  text-align: center;
  color: #a4a2ba;
  background-color: #2b2557;

  a {
    color: inherit;
  }
}

.release-year-box {
  text-align: center;

  &-header {
    display: block;
    font-size: 80%;
  }
  &-year {
    display: block;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1rem;
  }
}

.game-list {
  font-size: 80%;

  .game-list-is-main-series {
    background-color: #efe;
  }
}

.release-day-months-graph {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 80%;
}
